* {
  margin: 0;
  padding: 0;
}
/* *******************Selectors met betrekking tot de header en footer.****************** */



header {
  width: 90%;
  margin: 0 auto;
  background-color: SkyBlue;
}

h1 {
  font-size: 4rem;
  padding: 10px;
  margin-left: 50px;
  color: Indigo;
}

.header_container {
  background-color: SkyBlue;
  margin-top: 0%;
}

footer {
  background-color: SkyBlue;
  font-style: italic;
  height: 100px;
  position: relative;
}

footer p {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 2rem;
  padding-left: 150px;
  color: Indigo;
}

/* *******************Einde Selectors met betrekking tot de header.****************** */

/* *******************Selectors met betrekking tot de main element****************** */
body {
  background-color: LightCyan;
}

main {
  width: 90%;
  margin: 0 auto;
}

/* Tabel opmaak*/

.table-container {
  width: 90%;
  margin: 50px auto;
}

table {
  margin: 0;
  border: 5px solid black;
}

td {
  text-align: center;
  font-weight: bold;
  padding: 30px;
  border: 1px solid black;
  font-size: 2rem;
}

.img {
  padding: 0px;
}

#Azure {
  background-color: Azure;
}

#Beige {
  background-color: Beige;
}

#BlueViolet {
  background-color: BlueViolet;
}

#BurlyWood {
  background-color: BurlyWood;
}

#CadetBlue {
  background-color: #5F9EA0;
}

#Chartreuse {
  background-color: #7FFF00;
}

#DarkGrey {
  background-color: #A9A9A9;
}

#GoldenRod {
  background-color: #DAA520;
}
